
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-login{
  background: #7952b3;
  color:white;
}
.btn-login:hover{
  background: #6e3abd;
}

a.dropdown-item:hover {
  background-color: #6e3abd;
}

.breadcrumb {
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px 15px 0 35px;
}

.breadcrumb>li {
  display: inline-block;
  font-size: 12px;
}

.breadcrumb>li+li:before {
  content: "\3E";
  color: #b1afaf;
  font-weight: bold;
}

.breadcrumb>li>a{
  color:#7952b3;
}

.breadcrumb>li>a, .breadcrumb>li{
  text-transform: uppercase;
  font-weight: bold;
}

.img-hover-zoom {
  overflow: hidden; 
  
}
.img-hover-zoom img {
  transition: transform 1s ease-in-out;
  transform-origin: center center;
}

.img-hover-zoom:hover img {
  transform: scale(1.2);
}