
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-login{
  background: #7952b3;
  color:white;
}
.btn-login:hover{
  background: #6e3abd;
}

a.dropdown-item:hover {
  background-color: red;
}